mlruns

# Mac OS
.DS_Store

# Terraform
.terraform/
.terraform.lock.hcl
.terraform.tfstate
.terraform.tfstate.backup

# .env
.env

# Python
*.pyc
*.pyo
*.pyd
**/__pycache__/**

# Jupyter Notebook
**/.ipynb_checkpoints/**

# virtualenvs
**/.venv/
/**venv/

# MLflow artifacts and DB
**/mlruns/
**/mlruns.db
**/*s3*
**/*ec2*